body {padding: 2em}
a:link {color:#D24040;text-decoration:none;}
a:visited {color:#D24040;text-decoration:none;}
a:hover {text-decoration:underline;color:#A91010;} 
/* Basic Grey */
.basic-grey {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    background: #EEE;
    padding: 20px 30px 20px 30px;
    font: 16px Georgia, "Times New Roman", Times, serif;
    border:1px solid #DADADA;
}
.basic-grey h1 {
    font: 25px Georgia, "Times New Roman", Times, serif;
    padding: 0px 0px 10px 0px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px 0px 5px;
}
.basic-grey label>span {
    float: left;
    width: 200px;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
}
.basic-grey span {
    float: left;
    width: 200px;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
}
.basic-grey input[type="text"], .basic-grey input[type="password"], .basic-grey input[type="email"], .basic-grey input[type="date"], .basic-grey input[type="number"], .basic-grey textarea,.basic-grey select{
    border: 1px solid #DADADA;
    height: 24px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 60%;
    font: normal 14px/14px Georgia, "Times New Roman", Times, serif;
}
.basic-grey select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 60%;
    height: 30px;
}
.basic-grey textarea{
    height:100px;
}
.basic-grey .button {
    background: #D24040;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
}
.basic-grey .button:hover {
    background: #A91010;
}
